@import "tailwindcss";
@source "../views";

/* Preline UI */
@import "../../node_modules/preline/variants.css";
@source "../../node_modules/preline/dist/*.js";

/* Plugins */
@plugin "@tailwindcss/forms";

@theme {
  --color-primary-950: #0F1F17;
  --color-primary-900: #1D382B;
  --color-primary-800: #224432;
  --color-primary-700: #28543E;
  --color-primary-600: #32694B;
  --color-primary-500: #4C956C;
  --color-primary-400: #65A27E;
  --color-primary-300: #93C2A4;
  --color-primary-200: #BEDCC6;
  --color-primary-100: #DEECE2;
  --color-primary-50: #F1F8F3;

  --animate-fade-in-up: fade-in-up 0.8s ease-out both;

  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}